* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3e5d8;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
}

.container img {
    width: 100%;
    border-radius: 8px;
}

.container .title {
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0;
}

.container .preparation {
    background: #fff7fc;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0;
}

.container .preparation span.preparation-time {
    color: #5a233b;
    font-weight: bold;
}

.container .preparation .list {
    padding: 10px 25px;
}

.container .preparation .list li {
    margin-top: 10px;
}

.container .preparation .list li span {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

footer .attribution a {
    text-decoration: none;
    color: black;
}

footer .attribution a:hover {
    text-decoration: underline;
}
